In [90]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv("C:\\Users\\irris\\OneDrive\\桌面\\ST_adj.csv")
col_to_move = df.columns[1]
new_order = [col for col in df.columns if col != col_to_move] + [col_to_move]
df = df[new_order]
df

    Quarter  DG   Product           Channel Channel L2  ST_ADJ
0     FY1Q1    0  iPad 10  Consumer Channel   Softbank     241
1     FY1Q1    1  iPad 10  Consumer Channel   Softbank     858
2     FY1Q1    4  iPad 10  Consumer Channel   Softbank     831
3     FY1Q1    8  iPad 10  Consumer Channel   Softbank     965
4     FY1Q1    2  iPad 10  Consumer Channel   Softbank      95
..      ...  ...      ...               ...        ...     ...
411   FY1Q4    4  iPad 12  Consumer Channel     Docomo     115
412   FY1Q4    3  iPad 12  Consumer Channel     Docomo     898
413   FY1Q4    0  iPad 12  Consumer Channel     Docomo     869
414   FY1Q4    8  iPad 12  Consumer Channel     Docomo     470
415   FY1Q4    1  iPad 12  Consumer Channel     Docomo     102

[416 rows x 6 columns]

In [92]:
col_to_move_2 = df.columns[1]
new_order_2 = [col for col in df.columns if col != col_to_move_2] + [col_to_move_2]
df = df[new_order_2]
df

    Quarter  Product           Channel Channel L2  ST_ADJ  DG
0     FY1Q1  iPad 10  Consumer Channel   Softbank     241    0
1     FY1Q1  iPad 10  Consumer Channel   Softbank     858    1
2     FY1Q1  iPad 10  Consumer Channel   Softbank     831    4
3     FY1Q1  iPad 10  Consumer Channel   Softbank     965    8
4     FY1Q1  iPad 10  Consumer Channel   Softbank      95    2
..      ...      ...               ...        ...     ...  ...
411   FY1Q4  iPad 12  Consumer Channel     Docomo     115    4
412   FY1Q4  iPad 12  Consumer Channel     Docomo     898    3
413   FY1Q4  iPad 12  Consumer Channel     Docomo     869    0
414   FY1Q4  iPad 12  Consumer Channel     Docomo     470    8
415   FY1Q4  iPad 12  Consumer Channel     Docomo     102    1

[416 rows x 6 columns]

In [93]:
array = df.values.T.tolist()

In [94]:
array_index = array[0:4]

In [1]:
#array_index

In [96]:
index = pd.MultiIndex.from_arrays(array_index,
                                 names = ['Quarter','Product','Channel','Channel L2'])

In [97]:
multi_data = pd.DataFrame({'ST_ADJ':array[4],'DG':array[5]}, index = index)

In [102]:
multi_data.groupby(level=['Quarter','Product','Channel','Channel L2'])['ST_ADJ'].sum().unstack('Quarter')

Quarter                               FY1Q1  FY1Q2  FY1Q3  FY1Q4
Product Channel           Channel L2
iPad 10 Consumer Channel  Docomo       5422   6111   6471   6919
                          Softbank     7748   6649   6295   4987
        Education Channel Docomo       6859   6703   6464   5124
                          Softbank     7041   5876   4015   5947
iPad 12 Consumer Channel  Docomo       5365   6699   7616   7835
                          Softbank     4869   8027   5329   5574
        Education Channel Docomo       6632   6550   6410   5506
                          Softbank     7672   5267   6197   8130